.parallax {
  width: 100%;
  height: 100vh;
  /* Adjust the height as needed */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax h1 {
  margin-bottom: 600px;
  font-size: 200px;
  color: pink;
}

.mountains,
.planets,
.stars {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: bottom;
}

.mountains {
  background-image: url("../../assets/mountains.png");
  z-index: 3;
}

.planets {
  background-image: url("../../assets/planets.png");
}

.stars {
  background-image: url("../../assets/stars.png");
  z-index: 1;
}