.Event {
  color: white;
  background: rgba(19, 11, 30, 0.77);
  padding-top: 82px;
}

.first-half {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.title {
  color: #fff;
  font-family: Keania One;
  font-size: 2rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3rem;
}

.ed-image {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.register-section {
  display: flex;
  justify-content: center;
}

.event-register-btn {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 0 1rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Days One;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4rem;
  justify-content: center;
  margin: 2rem 0rem;
  transition: all 0.2s;
}

.event-register-btn:hover {
  background-color: white;
  color: black;
  transition: all 0.2s;
}

.grid-section-1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.subgrids-1 {
  background: #291a3c;
  padding: 1rem;
  color: #fff;
  text-align: center;
  font-family: Days One;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2rem;
  border: 1px solid #282131;
  background: linear-gradient(180deg, #332249 0%, rgba(132, 97, 184, 0) 100%);
}

.grid-section-2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    padding: 1rem 0rem;
}

.subgrids-2 {
  background: #291a3c;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #332249 0%, rgba(132, 97, 184, 0) 100%);
  padding: 2rem;
}

.double div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subgrids-2 span {
  color: #fff;
  font-family: Lato;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
  margin-left: 1rem;
}

.double {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  /* border: 3px solid red; */
}

.grid-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #291a3c;
  padding: 2rem;
  margin-top: 3rem;
  gap: 1rem;
  background: linear-gradient(180deg, #332249 0%, rgba(132, 97, 184, 0) 100%);
}

.rules-head {
  color: #fff;
  text-align: center;
  font-family: Days One;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rules {
  color: #fff;
  font-family: Lato;
  font-size: 1.2rem;
  font-style: normal;
  line-height: normal;
}

.icon {
  font-size: 2rem;
  padding: 0.5rem;
}

@media screen and (min-width: 800px) {
  .Event {
    width: calc(100vw - 82px);
    margin-left: auto;
    padding-top: 0;
  }

  .title {
    font-size: 4rem;
  }

  .grid-section-1,
  .grid-section-2 {
    flex-direction: row;
    justify-content: space-between;
  }

  .rules{
    font-size: 1.5rem;
  }
}


.icons{
  font-size: 2.2rem;
}

.mainContainer{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 2rem;
}