.event-list{
    width: 100%;
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4rem;
   column-gap: 4rem;
   width: min-content;
   margin: auto;

}