.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a c c g h"
    "a a d d g i"
    "b b e f g i";
    height: 70vh;
    width: 100%;
    margin-top: 6rem;
    /* padding: 1rem; */
}

.grid div {
    padding: 4rem 1rem;
    border-radius: 5px;
    margin: 5px;
    background-color: #42407052;
}