.below-register {
    /* padding: 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RegisterPage{
    padding-top: 96px;
}

@media screen and (min-width:800px) {
    .RegisterPage{
        width: calc(100vw - 82px);
        margin-left: auto;
      }
    
}

.register-head {
    color: #000000;
    font-family: Futura;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    background-color: white;
}

.register-form {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    /* color: rgba(228, 255, 227, 0.829); */
    color: white;
    font-weight: 800;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.457);
    backdrop-filter: blur(12px);
    border: 2px solid rgb(255, 78, 137);
    box-shadow: inset 0 0 10px #f05, 0 0 9px 3px #f05;

    font-family: Lato;
    line-height: 1.4rem;
    font-size: 1.1rem;
}

.submit-btn a {
    text-decoration: none;
    color: white;
}


.submit-btn,
.buy-btn-del {
    font-family: Lato;
    font-size: 1rem;
    padding: 1rem 2rem;
    letter-spacing: 0.06em;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    margin-top: 2rem;
    background: linear-gradient(to right, rgba(253, 27, 151, 0.1) 1%, transparent 40%, transparent 60%, rgba(253, 27, 151, 0.1) 100%);
    color: white;
    border: 2px solid rgb(255, 78, 137);
    box-shadow: inset 0 0 10px rgba(255, 0, 85, 0.5), 0 0 9px 3px rgba(255, 0, 85, 0.495);
    backdrop-filter: blur(7px);
}

.submit-btn:hover,
.buy-btn-del:hover {
    color: #f05;
    box-shadow: inset 0 0 10px rgba(255, 0, 85, 0.5), 0 0 9px 3px rgba(255, 0, 85, 0.495);
}

.submit-btn:before,
.buy-btn-del:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(253, 27, 151, 0.1) 40%, rgba(253, 27, 200, 0.1) 60%, transparent 100%);
}

.submit-btn:hover:before,
.buy-btn-del:hover::before {
    transform: translateX(15em);
}

.hero-background-sign {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

@media screen and (max-width:720px) {
    .below-register {
        padding: 1rem;
        padding-top: 10vh;
    }

    .register-head {
        font-size: 2rem;
        width: 100%;
    }

    .hero-background-sign {
        object-fit: cover;
    }

    .register-form {
        padding: 1rem;
        width: 100%;
    }
}