#timer-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  #timer-section.start-rolling {
    opacity: 1;
  }
  
  #timer-section #timer-head {
    font-family: Lato;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  #timer-head span {
    color: #F05;
    text-shadow: 0 0 10px #F05;
  }
  
  #timer {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0;
  }
  
  .timer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 6rem;
    color: #FFF;
    font-size: 4rem;
    font-family: Futura;
    font-weight: 500;
    background: #F05;
    box-shadow: 0 0 20px #F05;
    border-radius: 1rem;
    border: 1px solid #FFF;
    transform: translateY(100%);
    animation: roll 1s ease-out forwards;
  }
  
  @keyframes roll {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .timer-box-sub {
    color: #FFF;
    font-family: Lato;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  .register-btn {
    display: none;
  }
  
  .register-btn img {
    max-width: 25%;
    height: auto;
  }
  
  @media screen and (max-width: 720px) {
    .timer-box {
      width: 4rem;
      height: 4rem;
      font-size: 1.7rem;
    }
  
    .timer-box-sub {
      font-size: 0.7rem;
    }
  }
  