
.faq-section{
    // padding: 2.2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    // border: 3px solid red;
}

.btnContainer{
    display: flex;
    gap: 1rem;
}
