/* FOOTER BEGINS HERE */

#footer {
    background-color: #000000;
    color: white;
    font-family: Lato;
    padding: 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    
}

@media screen and (min-width:800px) {
#footer{
    width: calc(100vw - 82px);
    margin-left: auto;
}
}


.footer-logo {
    height: 10rem;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1;
    /* justify-content: space-between; */

}


.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.college-address {
    color: rgb(212, 212, 212);
    text-align: center;
    margin: 0;
}

.contact-details {
    font-size: 1.2rem;
    color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 3px solid red; */
    /* gap: 1rem; */
}

.contact-link {
    text-decoration: none;
    color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
    gap: 1rem;
}

.contact-icon {
    height: 1rem;
    margin: 0 0.5rem;
}

.quick-link-header,
.contact-header {
    font-weight: 300;
    font-size: 2rem;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.quick-link {
    color: #bbbbbb;
}

.social {
    background-color: #f05;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-top: 2rem;
}

.social a img {
    width: 2rem;
}

.copyright {
    background-color: #000000b6;
    text-align: center;
    padding: 1rem;
    font-family: Lato;
    color: #636363;
}

.copyright a {
    color: #636363;
}


@media screen and  (max-width:641px) {
    #footer{
        flex-direction: column;
    }
}

@media (max-width: 961px) {

    

    .register-form {
        padding: 1rem;
        width: 100%;
    }

    .social {
        width: 100%;
        margin: auto;
        margin-top: 2rem;
    }

    .single,
    .subgrid2,
    .subgrid3,
    .cd {
        grid-template-columns: 1fr;
    }


}