.service-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 250px)); 
  justify-content: center;
  gap: 20px; 
  padding: 2rem 1rem;
  margin-top: 2rem;
  border-radius: 15px;

  
  margin-right: 15px;

  @media screen and (min-width: 481px) {
    gap: 2rem;
  }
  @media screen and (min-width: 641px) {
    grid-template-columns: repeat(3, minmax(auto, 300px)); 
  }
  @media screen and (min-width: 961px) {
    grid-template-columns: repeat(4, minmax(auto, 300px)); 
  }
}

.card {
  position: relative;
  width: 250px; 
  height: 250px; 
  perspective: 1000px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px; 
  transition: transform 0.6s ease-in-out; 
  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.3), 0 0 50px rgba(255, 0, 0, 0.3); 
  transform-style: preserve-3d; 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px; 
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; 
  border: 2px solid rgba(255, 0, 0, 0.7); 
  box-shadow: none; 
  transition: transform 0.6s ease-in-out;
}

.card-front img {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 50%; 
  filter: brightness(90%); 
}

.card-back {
  background-color: #2f2f3b; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  text-align: center;
  transform: rotateY(180deg); 
  border-radius: 15px; 
  box-shadow: 0 0 50px rgba(255, 0, 0, 0.3); 
}

.card-back h3 {
  font-size: 1.5rem;
  color: #ffcc00;
  font-weight: bold;
}

.card-back p {
  font-size: 1rem;
  color: #fff;
  opacity: 0.8;
}

.titleContainer {
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.titleCat {
  font-family: Futura, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
}

.titleBar {
  width: 20rem;
}
