.service-section {
  padding: 2.2rem 1rem;
  @media screen and (min-width: 641px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (min-width: 1025px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media screen and (min-width: 1225px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  @media screen and (min-width: 1600px) {
    padding-left: 14rem;
    padding-right: 14rem;
  }
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(auto,200px));
  justify-content: center;
  gap: 10px;
  padding: 2rem 0rem;
  margin-top: 2rem;
  border-radius: 10px;

  @media screen and (min-width: 481px) {
    gap: 2rem
  }
  @media screen and (min-width: 961px) {
    grid-template-columns: repeat(auto-fit,minmax(auto,300px));

  }
}


.fig-container {
  display: flex;
  flex-direction: column;
  // justify-content:space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  background-color:  #000413;
  color: white;
  border-radius: 15px;
  height: auto;
  border: 2px solid #000;
  // height: 280px;
  box-shadow: #f05 2px 4px 15px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;

  }

  figCaption {
    text-align: center;
    font-size: 12px;
  

    @media screen and (min-width: 641px) {
      font-size: 1rem;
    }
  }
}
